{% extends 'base.html' %}
{% block content %}
<div class="container mt-4 d-flex flex-column align-items-center">
    <h5 class="card-title mb-0">Employee Details</h5>
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <p><strong>First Name:</strong> {{ employee.f_name1 }}</p>
            <p><strong>Last Name:</strong> {{ employee.l_name1 }}</p>
            <p><strong>Email:</strong> {{ employee.email1 }}</p>
            <p><strong>Phone no.:</strong> ${{ employee.phone1 }}</p>
            <p><strong>Address:</strong> {{ employee.address1 }}</p>
        </div>
        {% if user.is_staff %}
        <div class="card-footer d-flex justify-content-between">
            <a href="{% url 'employee_update' employee.id %}" class="btn btn-primary btn-sm">Edit</a>
            <a href="{% url 'employee_delete' employee.id %}" class="btn btn-danger btn-sm">Delete</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
